<header>
  <div class="title">{{ title }}</div>
</header>
<main>
  <div class="left-bar">
    <h4>Select friedhof</h4>
    <select (change)="changeGrab($event.target)">
      <option *ngFor="let graveyard of friedhofs" [value]="graveyard"> {{ graveyard }} </option>
    </select>
    <h3>Legend</h3>
    <p>Expired: Red</p>
    <p>Contains atleast one deceased: Green</p>
    <p>Others: Blue </p>
    <ul>
      <li>1. How many graveyards are provided by the API? <strong>{{ numberOfGraveyards }}</strong></li>
      <li>2. How many graves are located in the graveyard named "Buschhoven"? <strong>{{ numberOfGravesInBuschhoven }}</strong></li>
      <li>3. Which information/properties can be attached to a grave plot?
        <ul>
          <li *ngFor="let gravePlotField of gravePlotFields">{{ gravePlotField }}</li>
        </ul>
      </li>
      <li>4. Which graveyard has the most unassigned grave plots? <strong>{{ graveyardWithMostUnassigned }}</strong></li>
    </ul>
  </div>
  <div id="ol-map" class="map-container"></div>
</main>
<footer>
  PBS Geo
</footer>